@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Order Food Online</h1>    
</div>
<div class="text-center">
    @Html.ActionLink("Create Order", "Create", "Food", null, new { @class = "btn btn-primary btn-large" })
</div>
